<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, cols: 20, rows: 10 %>
  </div>

  <div class="row">
    <div class="field">
    <%= form.label :property_type %>
    <%= form.select :property_type, Property.property_types.keys %>
  </div>

   <div class="field">
    <%= form.label :offer_type %>
    <% Property.offer_types.each do |offer_type, value| %>
       <%= form.radio_button :offer_type, offer_type %>  <%= offer_type %>
    <% end %>
  </div>

    <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, min: 0 %>
  </div>
  </div>



  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.number_field :length, min: 0 %>
  </div>  


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
