<p id="notice"><%= notice %></p>

<div class="home container">
    <% @properties.each do |property| %>
        <div class="property">
            <img width="200" height="250" src="<%= "https://picsum.photos/seed/#{property.id}/200/250" %>"> 
             <p>
                <strong> <%= property.title + ' | ' + property.offer_type %> </strong>
            </p>
            <p>
            <%= number_to_currency(property.price) %>
            </p>
            <p> <%= property.width %> x <%= property.length %></p>
            <p> <%= link_to property.address.city,  city: property.address.city  %>, 
            <%=  link_to property.address.country,  country: property.address.country %></p>
        </div>
    <% end %>
</div>
