<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Total area:</strong>
  <%= @property.total_area %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
