<div class="home container">
    <% @properties.each do |property| %>
        <div class="property">
 <img width="200" height="250" src="<%= "https://picsum.photos/seed/#{property.id}/200/250" %>"> 
             <p>
                <%= property.title + ' | ' + property.offer_type %>
            </p>
            <p>
            <%= number_to_currency(property.price) %>
            </p>
            <p> <%= property.width %> x <%= property.length %></p>
            <p> <%= property.address.city %>, <%= property.address.country %></p>
        </div>
    <% end %>
</div>