<!DOCTYPE html>
<html>
  <head>
    <title>Real estate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
            <ul>
                <li>Buy</li>
                <li>Rent</li>
                <li>Sell</li>
            </ul>
        </nav>

        <h1>
        
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" 
            width="30%" height="30%" viewBox="2.075000047683716 12 96.23300170898438 75.97000122070312"><g fill="#143990">
            <path d="M2.075 87.828h18.397V47.354H2.075v40.474zm11.038-33.112h3.68v3.677h-3.68v-3.677zm0 7.357h3.68v3.679h-3.68v-3.679zm0 7.359h3.68v3.68h-3.68v-3.68zm0 7.358h3.68v3.68h-3.68v-3.68zm-7.36-22.074h3.68v3.677h-3.68v-3.677zm0 7.357h3.68v3.679h-3.68v-3.679zm0 7.359h3.68v3.68h-3.68v-3.68zm0 7.358h3.68v3.68h-3.68v-3.68zm74.158-21.989v33.027h18.397V54.801H79.911zm7.36 25.759h-3.68v-3.681h3.68v3.681zm0-7.361h-3.68v-3.678h3.68v3.678zm0-7.358h-3.68v-3.679h3.68v3.679zm7.356 14.719H90.95v-3.681h3.677v3.681zm0-7.361H90.95v-3.678h3.677v3.678zm0-7.358H90.95v-3.679h3.677v3.679zM73.306 13.855h-8.389L58.871 12v75.853h18.396V17.645l-3.962-1.216v-2.574zm-7.075 66.64H62.55v-3.68h3.681v3.68zm0-7.358H62.55v-3.68h3.681v3.68zm0-7.362H62.55v-3.677h3.681v3.677zm0-7.356H62.55v-3.68h3.681v3.68zm0-7.659H62.55v-3.68h3.681v3.68zm0-7.359H62.55v-3.679h3.681v3.679zm0-7.359H62.55v-3.68h3.681v3.68zm0-7.359H62.55v-3.679h3.681v3.679zm7.359 51.812h-3.681v-3.68h3.681v3.68zm0-7.358h-3.681v-3.68h3.681v3.68zm0-7.362h-3.681v-3.677h3.681v3.677zm0-7.356h-3.681v-3.68h3.681v3.68zm0-7.659h-3.681v-3.68h3.681v3.68zm0-7.359h-3.681v-3.679h3.681v3.679zm0-7.359h-3.681v-3.68h3.681v3.68zm0-11.038v3.679h-3.681v-3.679h3.681zM48.87 54.756v-10.94l-3.679-7.358h-3.68V32.11h-3.679v4.348h-3.687l-3.672 7.358v10.94h-3.68l-3.68 3.776V87.97h33.116V58.532l-3.68-3.776H48.87zm-7.359-10.941h3.68v3.68h-3.68v-3.68zm-7.358 0h3.679v3.68h-3.679v-3.68zm0 36.797h-3.68v-3.681h3.68v3.681zm0-7.36h-3.68v-3.679h3.68v3.679zm0-7.358h-3.68v-3.681h3.68v3.681zm0-14.719h3.679v3.679h-3.679v-3.679zm7.358 29.437h-3.679v-3.681h3.679v3.681zm0-7.36h-3.679v-3.679h3.679v3.679zm0-7.358h-3.679v-3.681h3.679v3.681zm0-14.719h3.68v3.679h-3.68v-3.679zm7.359 29.437h-3.679v-3.681h3.679v3.681zm0-7.36h-3.679v-3.679h3.679v3.679zm0-7.358h-3.679v-3.681h3.679v3.681z"></path><path d="M27.839 51.271v-1.312h-1.776V46.28h1.776v-3.23l.227-.452h-2.003v-3.679h3.838l.021.001 3.155-6.323.503-1.007v-7.707L15.025 28.32v16.5h8.079v9.85l3.363-3.4h1.372zM26.063 31.56h3.679v3.68h-3.679v-3.68zm-3.679 11.039h-3.679V38.92h3.679v3.679zm0-7.359h-3.679v-3.68h3.679v3.68z"></path></g></svg>
        <p> Foo's real estate </p> 
        </h1>
        
        <nav>
            <ul>
                <li>Manage rentals</li>
                <li>Sign in or Join</li>
            </ul>
        </nav>
    </header>
    <%= yield %>

    <footer>
        <ul>
            <li>Real estate</li>
            <li>Rentals</li>
            <li>Sell</li>
            <li>Browse Homes</li>
        </ul>
    </footer>
  </body>
</html>
